.DS_Store
Thumbs.db
node_modules/
dist/
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/app/build/
src-tauri/gen/android/build/
src-tauri/gen/android/local.properties
src-tauri/gen/apple/build/
src-tauri/gen/apple/DerivedData/
src-tauri/generated/
*.keystore
*.jks
*.p12
*.p8
*.cer
*.mobileprovision
*.provisionprofile
keystore.properties
